@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lilita+One&display=swap');

:root {
  --color-primary: #cc0000;
}

h1,
h2,
h3,
h4 {
  font-family: 'Lilita One', cursive;
}

h5,
h6,
p,
li {
  font-family: 'Lato', sans-serif;
}
