@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lilita+One&display=swap');

:root {
  --color-primary: #cc0000;
}

h1,
h2,
h3,
h4 {
  font-family: 'Lilita One', cursive;
}

h5,
h6,
p,
li {
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: var(--color-primary);
  color: #fff;
}

.no-select {
  /* prevent blue highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  /* prevent text selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* for chrome on android */
  -webkit-tap-highlight-color: transparent;
}

/* header */
header {
  transition: 0.5s;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-primary);
  color: #e5e5e5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  padding: 0.5em 0;
}
.header-closed {
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
}
.header-closed h1 {
  margin-bottom: 0;
}
.header-closed form {
  visibility: hidden;
  display: none;
}
.header-opened {
  height: 100vh;
  font-size: 3em;
  padding-bottom: 3.8em;
}
.header-opened h1 {
  margin-bottom: 0.8em;
}
.header-opened form {
  visibility: initial;
  display: initial;
}

form {
  width: 8em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px #eee solid;
  padding-bottom: 0.2em;
}
input,
button {
  background-color: transparent;
  border: none;
  outline: none;
}
input#search-box {
  width: 8em;
  height: 100%;
  font-size: 0.8em;
  color: #fff;
}
form button {
  width: 2em;
  height: 100%;
  cursor: pointer;
}
button img {
  margin: 0;
}

button#scroll-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
  cursor: pointer;
  position: absolute;
  bottom: 7vh;
  transition: none;
  width: 75px;
}
#scroll-down img {
  padding-top: 0.8em;
  transition: none;
}
.hide-scroll-btn {
  /* display: none; */
  visibility: hidden;
}

/* main */
main a {
  text-decoration: none;
  color: #111;
}

ol {
  list-style-type: none;
  width: 50vw;
  margin: 5em auto 1em;
}

.card {
  width: 100%;
  display: grid;
  grid-template-areas: 'date content content image';
  grid-template-columns: repeat(4, 1fr);
  padding: 1.5em 0;
  border-bottom: 1px solid #ccc;
}
/* li:first-child > .card {
  border-top: 1px solid #ccc;
} */

.date {
  grid-area: date;
  color: #666;
  font-size: 0.8em;
}
.content {
  grid-area: content;
}
img {
  grid-area: image;
  margin-left: 3em;
  border-radius: 0.3em;
}

.super {
  font-size: 1em;
  color: #555;
  margin-bottom: 1em;
}
.headline {
  margin-bottom: 0.5em;
  color: #222;
}
.sub {
  font-size: 0.8em;
  color: #666;
  margin-top: 2em;
}

/* footer */
footer {
  padding: 3em 0;
}
footer p {
  text-align: center;
  font-size: 0.8em;
  color: #666;
  margin-bottom: 0.3em;
}

/* media queries */
@media screen and (max-width: 1700px) {
  ol {
    width: 60vw;
  }
}

@media screen and (max-width: 1400px) {
  ol {
    width: 70vw;
  }
}

@media screen and (max-width: 1200px) {
  ol {
    width: 80vw;
  }
}

@media screen and (max-width: 1050px) {
  ol {
    width: 90vw;
  }
}

@media screen and (max-width: 850px) {
  .card {
    grid-template-areas:
      'date date date image'
      'content content content image';
    grid-template-columns: repeat(4, 1fr);
  }
  .date {
    height: 1em;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width: 750px) {
  .header-opened {
    font-size: 2.5em;
  }
  .card {
    grid-template-areas:
      'date date image'
      'content content image';
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  ol {
    width: 70vw;
    margin: 4em auto 1em;
  }
  .card {
    grid-template-areas:
      'date'
      'image'
      'content';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3 1fr);
  }
  main img {
    margin: 1em 0;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .header-opened h1 {
    margin-bottom: 2em;
  }
  ol {
    width: 80vw;
  }
}

@media screen and (max-width: 400px) {
  .header-opened {
    font-size: 2em;
  }
  ol {
    width: 90vw;
  }
}
